* {
    font-family: 'Fraunces', serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: rgb(209, 222, 224);
}

footer {
    background-color: #363635;
    border: 2px solid #51524f;
    border-radius: 15%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

footer a {
    color: rgb(150, 200, 200);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(243, 233, 97);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: 160px repeat(8, 75px);
    background-color: #51524f;
    padding: 15px;
    border-radius: 32px;
    border: 3px solid #00000033;
}

.display {
    margin: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    background-color: #363636;
    border-radius: 32px;
    padding: 15px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #00000033;
}

.col-2 {
    grid-column: span 2;
}

button {
    margin: 5px;
    border-radius: 32px;
    padding: 0;
    font-size: 1.3rem;
    border: 1px solid #00000040;
    background-color: #51524f;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #444443;
}

.clear {
    color: rgb(255, 72, 0);
}

.clear:hover {
    color: rgb(255, 118, 64);
    border-color: rgb(255, 72, 0);
    cursor: pointer;
    transform: translateY(-0.1em);
    box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 72, 0);
}

button:focus {
    outline: none;
}

button:active {
    background-color: #363635;
}

button:hover {
    color: rgb(243, 233, 97);
    border-color: rgb(243, 233, 97);
    cursor: pointer;
    transform: translateY(-0.1em);
    box-shadow: 0 0.5em 0.5em -0.4em rgb(243, 233, 97);
}

.result {
    font-size: 2rem;
}

.input {
    font-size: 1.5rem;
}

.heartColor {
    color: red;
}

@media(max-width: 1500px) {
    .container {
        width: 100vw;
        /* height: 100vh; */
        overflow: auto;
    }
    footer {
        width: 80%;
    }
    .calculator {
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: 130px repeat(8, 50px);
        background-color: #51524f;
        padding: 15px;
        border-radius: 25px;
    }
    button {
        font-size: 1rem;
    }
    footer {
        font-size: 0.8rem;
        padding: 10px;
    }
}

@media (max-width: 320px) {
    .container {
        height: 100vh;
    }
    .calculator {
        grid-template-columns: repeat(5, 45px);
        grid-template-rows: 120px repeat(8, 45px);
        background-color: #51524f;
        padding: 15px;
        border-radius: 20px;
    }
    footer {
        display: none;
    }
    .result {
        font-size: 1.5rem;
    }
    .input {
        font-size: 1rem;
    }
    button {
        font-size: 0.8rem;
    }
}